name: Test suite

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: "ubuntu-latest"
    permissions:
      pull-requests: write

    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup user groups
      run: |
        sudo usermod -aG input,audio $USER
        sudo modprobe -i uinput
        echo KERNEL==\"uinput\", SUBSYSTEM==\"misc\" GROUP=\"docker\", MODE:=\"0666\" | sudo tee /etc/udev/rules.d/99-$USER.rules
        echo KERNEL==\"event[0-9]*\", SUBSYSTEM==\"input\" GROUP=\"docker\", MODE:=\"0666\" | sudo tee -a /etc/udev/rules.d/99-$USER.rules
        cat /etc/udev/rules.d/99-$USER.rules
        sudo udevadm control --reload-rules
        sudo udevadm trigger
        lsmod
    - name: Set up Python ${{ matrix.python-version }}
      id: setuppy
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        # Issue ref: https://github.com/actions/setup-python/issues/436
        # cache: 'pip'
        # cache-dependency-path: pyproject.toml
    - uses: actions/cache@v3
      id: cache
      with:
        path: ${{ env.pythonLocation }}
        key: python-${{ matrix.python-version }}-${{ hashFiles('pyproject.toml') }}

    - name: Install dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        pip install --disable-pip-version-check -e .[dev]
    - name: Linting
      run: |
        ruff check --diff --output-format=github linuxpy tests examples
        ruff format linuxpy tests examples --check
    - name: Build package
      run: |
        python -m build
        twine check dist/*
    - name: Tests
      id: tests
      run: |
        sudo -s -E -u $USER bash -c '${{ steps.setuppy.outputs.python-path }} -m ward'

    - name: Upload coverage data
      uses: actions/upload-artifact@v3
      with:
        name: html_report
        path: ./htmlcov/

    - name: Code Coverage Summary Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: coverage.xml
        badge: true
        format: 'markdown'
        output: 'both'
    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: github.event_name == 'pull_request'
      with:
        path: code-coverage-results.md
    - name: Write to Job Summary
      run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY
